global_defs {
    router_id keepalived_01
    enable_script_security
    script_user root
}

vrrp_script check_dns {
    script "nc -z -w1 192.168.1.176 53"
    interval 2
    weight 2
}

vrrp_instance VI_VLAN010 {
    state MASTER
    interface eth0@if2
    virtual_router_id 10
    priority 101
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass L4Vlan010_pass
    }
    virtual_ipaddress {
        192.168.1.253/24
    }
    track_script {
        check_l4_proxy
    }
}

vrrp_instance VI_VLAN200 {
    state MASTER
    interface eth0@if6
    virtual_router_id 200
    priority 101
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass L4Vlan200_pass
    }
    virtual_ipaddress {
        10.2.0.254/24
    }
    track_script {
        check_dns
    }
}
