# Copy this file to `.env` and fill in values before running compose
# Container related settings
KA_IMG=osixia/keepalived:2.0.20
KA_CONTAINER_NAME=keepalived
KA_CFG=./vol/keepalived-01.conf

# Container IP related settings
KA_VLAN010=192.168.1.176
KA_VLAN100=10.1.0.176
KA_VLAN200=10.2.0.176
#KA_VLAN400=10.4.0.176

# Container healthcheck settings
HEALTHCHECK_CMD="pidof keepalived && nc -z -w 3 192.168.1.254 80 || exit 1"
HEALTHCHECK_INT=30s
HEALTHCHECK_TOT=10s
HEALTHCHECK_RTS=3
HEALTHCHECK_STP=30s

# Shared bridge name
BRIDGE_NAME=shared_bridge

# VLAN / macvlan network settings
VLAN010_NAME=vlan10_net
VLAN100_NAME=vlan100_net
VLAN200_NAME=vlan200_net
VLAN400_NAME=vlan400_net
